
{% extends 'base.html' %}

{% block header %}
<style type="text/css">
  #tooltip {
    position: absolute;
    z-index: 10;
    visibility: hidden;
    background-color: #f7f7f7;
    padding: 3px 12px;
    font-family: sans-serif;
    border: 1px solid #bbbbbb;
    box-shadow: 1px 1px 4px #bbbbbb;
  }
  .tooltip_title {
    font-weight: bold;
    font-size: 14px;
    margin: 5px 0;
    max-width: 300px;
    word-wrap: normal;
  }
  .tooltip_body {
    font-weight: normal;
    margin: 5px 0;
  }
  .button-submit {
    background-color: #3D3D3C;
    color: white;
    font-size: 16px;
    border: 1px solid white
  } 
  .ulist {
    list-style-type: none;
  }

</style>

{% endblock header %}

{% block body %}
<body style="background-color:#3D3D3C;">
  <section class="header">
    <h2 class="title" style="color:white;">Magic the Gathering: Thesauraus</h2>
  </section>

    <div id="tooltip"></div>


  <div class="content">
    <form method="POST">
      {{ form.hidden_tag() }}
      <div class="row">
        <div class="three columns" style="color:white;">
          {{ form.magic_card.label }} {{ form.magic_card() }}
        </div>
      </div>
      <div class="row">
        <button type="submit" class="button-submit">Submit</button>
      </div>
    </form>
  </div>
  



  <h4 style="color:white;">
      {% if prediction %}
        Predicted Cards </br>
        The card and closest 10 cards are: </br>  
        <ul class="ulist" id="prediction-result"></ul>
      {% else %}
        That is not a card.
      {% endif %}
    </h4>
</body>

<!-- <div id="tooltip"></div> -->
<!-- <svg width="960" height="600" id="statesvg"></svg> -->
{% endblock body %}





{% block js %}
  <script type="text/javascript">
    var prediction = {{ prediction | safe }};

      var tooltip = d3.select("div#tooltip")
        .style("visibility", "hidden");

    d3.select("#prediction-result").selectAll("li")
      .data(prediction)
      .enter().append("li")
        // .text(function(d) { return d['card']; })
        .append("text")
          .text(function(d) { return d['card'] + " "; })
        .append("a")
          .attr("href", function(d) { return d['link']; })
          .attr("target", "_blank")
        .append("text")
          .text(function(d) { return d['card_name']; })

    d3.select("#prediction-result").selectAll("li")
      .on("mouseover", function(d) {
        console.log(d); 
        tooltip.html("");
        tooltip.append("h3").attr("class", "tooltip_title");
        tooltip.select(".tooltip_title")
                  .text(d.card + d.card_name);
        tooltip.append("pre").attr("class", "tooltip_body");
        tooltip.select(".tooltip_body")
          .text(
           "Distance: " + d.distance_away  + "\n" + 
           "CMC: " + d.cmc + "\n" +
           "Power/Toughness: " + d.power_toughness + "\n" +
           "Cost: " + d.cost + "\n" +
           "Type: "+d.type+"\n"+
           "Sets: "+d.sets+"\n"+
           "Text: "+d.text+"\n"+
           "Flavor: "+d.flavor+"\n"
          )
        return tooltip.style("visibility", "visible");
      })
      .on("mousemove", function(d) {
       return tooltip.style("top", (d3.event.pageY-52) + "px").style("left",      (d3.event.pageX+18) + "px");
     })
     .on("mouseout", function() {
       return tooltip.style("visibility", "hidden");
     });
  </script>
{% endblock js %}




